Meet&MusicProject/resources/facebookLogo.png
Meet&MusicProject/resources/featured1.jpg
Meet&MusicProject/resources/featured2.jpg
Meet&MusicProject/resources/featured3.jpg
Meet&MusicProject/resources/mainLogo.png
Meet&MusicProject/resources/metalExample1.jpg
Meet&MusicProject/resources/metalExample2.jpg
Meet&MusicProject/resources/metalExample3.jpg
Meet&MusicProject/resources/popExample1.jpg
Meet&MusicProject/resources/popExample2.jpeg
Meet&MusicProject/resources/popExample3.jpg
Meet&MusicProject/resources/rockconcert3.jpg
Meet&MusicProject/resources/rockExample1.jpg
Meet&MusicProject/resources/rockExample2.jpg
Meet&MusicProject/resources/twitterIcon.png
Meet&MusicProject/Wireframing/homePage.vp
Meet&MusicProject/Wireframing/musicEvent.vp
Meet&MusicProject/Wireframing/musicEvents.vp
Meet&MusicProject/Wireframing/newMusicEvent.vp
