Meet&MusicProject/resources/facebookLogo.png
Meet&MusicProject/resources/featured1.jpg
Meet&MusicProject/resources/featured2.jpg
Meet&MusicProject/resources/featured3.jpg
Meet&MusicProject/resources/mainLogo.png
Meet&MusicProject/resources/metalExample1.jpg
Meet&MusicProject/resources/metalExample2.jpg
Meet&MusicProject/resources/metalExample3.jpg
Meet&MusicProject/resources/popExample1.jpg
Meet&MusicProject/resources/popExample2.jpeg
Meet&MusicProject/resources/popExample3.jpg
Meet&MusicProject/resources/rockconcert3.jpg
Meet&MusicProject/resources/rockExample1.jpg
Meet&MusicProject/resources/rockExample2.jpg
Meet&MusicProject/resources/twitterIcon.png
Meet&MusicProject/Wireframing/homePage.vp
Meet&MusicProject/Wireframing/musicEvent.vp
Meet&MusicProject/Wireframing/musicEvents.vp
Meet&MusicProject/Wireframing/newMusicEvent.vp
Meet&MusicProject/resources/featured4.jpg
Meet&MusicProject/resources/featured5.jpeg
Meet&MusicProject/resources/featured6.jpg
Meet&MusicProject/resources/featured7.jpg
Meet&MusicProject/resources/featured8.jpg
Meet&MusicProject/resources/featured9.jpg
Meet&MusicProject/resources/featured10.jpg
Meet&MusicProject/resources/featured11.jpg
Meet&MusicProject/resources/featured12.jpg
ProjectSubmission/StricklandJoeProject1.zip
ProjectSubmission/StricklandJoeProject1Info.docx
ProjectSubmission/Submission1/StricklandJoeProject1.zip
ProjectSubmission/Submission1/StricklandJoeProject1Info.docx
ProjectSubmission/Submission1/StricklandJoeProject1Info.pdf
Meet&MusicProject/resources/images/facebookLogo.png
Meet&MusicProject/resources/images/featured1.jpg
Meet&MusicProject/resources/images/featured2.jpg
Meet&MusicProject/resources/images/featured4.jpg
Meet&MusicProject/resources/images/featured3.jpg
Meet&MusicProject/resources/images/featured5.jpeg
Meet&MusicProject/resources/images/featured6.jpg
Meet&MusicProject/resources/images/featured7.jpg
Meet&MusicProject/resources/images/featured8.jpg
Meet&MusicProject/resources/images/featured10.jpg
Meet&MusicProject/resources/images/featured9.jpg
Meet&MusicProject/resources/images/featured11.jpg
Meet&MusicProject/resources/images/mainLogo.png
Meet&MusicProject/resources/images/featured12.jpg
Meet&MusicProject/resources/images/metalExample2.jpg
Meet&MusicProject/resources/images/metalExample1.jpg
Meet&MusicProject/resources/images/metalExample3.jpg
Meet&MusicProject/resources/images/popExample2.jpeg
Meet&MusicProject/resources/images/popExample1.jpg
Meet&MusicProject/resources/images/popExample3.jpg
Meet&MusicProject/resources/images/rockconcert3.jpg
Meet&MusicProject/resources/images/rockExample1.jpg
Meet&MusicProject/resources/images/rockExample2.jpg
Meet&MusicProject/resources/images/twitterIcon.png
Meet&MusicProject/node_modules/.bin/ejs
Meet&MusicProject/node_modules/.bin/ejs.cmd
Meet&MusicProject/node_modules/.bin/ejs.ps1
Meet&MusicProject/node_modules/.bin/jake
Meet&MusicProject/node_modules/.bin/jake.cmd
Meet&MusicProject/node_modules/.bin/jake.ps1
Meet&MusicProject/node_modules/.bin/mime
Meet&MusicProject/node_modules/.bin/mime.cmd
Meet&MusicProject/node_modules/.bin/mime.ps1
Meet&MusicProject/node_modules/accepts/HISTORY.md
Meet&MusicProject/node_modules/accepts/index.js
Meet&MusicProject/node_modules/accepts/LICENSE
Meet&MusicProject/node_modules/accepts/package.json
Meet&MusicProject/node_modules/accepts/README.md
Meet&MusicProject/node_modules/ansi-styles/index.js
Meet&MusicProject/node_modules/ansi-styles/license
Meet&MusicProject/node_modules/ansi-styles/package.json
Meet&MusicProject/node_modules/ansi-styles/readme.md
Meet&MusicProject/node_modules/array-flatten/array-flatten.js
Meet&MusicProject/node_modules/array-flatten/LICENSE
Meet&MusicProject/node_modules/array-flatten/package.json
Meet&MusicProject/node_modules/array-flatten/README.md
Meet&MusicProject/node_modules/async/.travis.yml
Meet&MusicProject/node_modules/async/bower.json
Meet&MusicProject/node_modules/async/component.json
Meet&MusicProject/node_modules/async/LICENSE
Meet&MusicProject/node_modules/async/package.json
Meet&MusicProject/node_modules/async/README.md
Meet&MusicProject/node_modules/async/lib/async.js
Meet&MusicProject/node_modules/async/support/sync-package-managers.js
Meet&MusicProject/node_modules/balanced-match/index.js
Meet&MusicProject/node_modules/balanced-match/LICENSE.md
Meet&MusicProject/node_modules/balanced-match/package.json
Meet&MusicProject/node_modules/balanced-match/README.md
Meet&MusicProject/node_modules/balanced-match/.github/FUNDING.yml
Meet&MusicProject/node_modules/basic-auth/HISTORY.md
Meet&MusicProject/node_modules/basic-auth/index.js
Meet&MusicProject/node_modules/basic-auth/LICENSE
Meet&MusicProject/node_modules/basic-auth/package.json
Meet&MusicProject/node_modules/basic-auth/README.md
Meet&MusicProject/node_modules/basic-auth/node_modules/safe-buffer/index.d.ts
Meet&MusicProject/node_modules/basic-auth/node_modules/safe-buffer/index.js
Meet&MusicProject/node_modules/basic-auth/node_modules/safe-buffer/LICENSE
Meet&MusicProject/node_modules/basic-auth/node_modules/safe-buffer/package.json
Meet&MusicProject/node_modules/basic-auth/node_modules/safe-buffer/README.md
Meet&MusicProject/node_modules/body-parser/HISTORY.md
Meet&MusicProject/node_modules/body-parser/index.js
Meet&MusicProject/node_modules/body-parser/LICENSE
Meet&MusicProject/node_modules/body-parser/package.json
Meet&MusicProject/node_modules/body-parser/README.md
Meet&MusicProject/node_modules/body-parser/lib/read.js
Meet&MusicProject/node_modules/body-parser/lib/types/json.js
Meet&MusicProject/node_modules/body-parser/lib/types/raw.js
Meet&MusicProject/node_modules/body-parser/lib/types/text.js
Meet&MusicProject/node_modules/body-parser/lib/types/urlencoded.js
Meet&MusicProject/node_modules/brace-expansion/index.js
Meet&MusicProject/node_modules/brace-expansion/LICENSE
Meet&MusicProject/node_modules/brace-expansion/package.json
Meet&MusicProject/node_modules/brace-expansion/README.md
Meet&MusicProject/node_modules/bytes/History.md
Meet&MusicProject/node_modules/bytes/index.js
Meet&MusicProject/node_modules/bytes/LICENSE
Meet&MusicProject/node_modules/bytes/package.json
Meet&MusicProject/node_modules/bytes/Readme.md
Meet&MusicProject/node_modules/chalk/index.js
Meet&MusicProject/node_modules/chalk/index.js.flow
Meet&MusicProject/node_modules/chalk/license
Meet&MusicProject/node_modules/chalk/package.json
Meet&MusicProject/node_modules/chalk/readme.md
Meet&MusicProject/node_modules/chalk/templates.js
Meet&MusicProject/node_modules/chalk/types/index.d.ts
Meet&MusicProject/node_modules/color-convert/CHANGELOG.md
Meet&MusicProject/node_modules/color-convert/conversions.js
Meet&MusicProject/node_modules/color-convert/index.js
Meet&MusicProject/node_modules/color-convert/LICENSE
Meet&MusicProject/node_modules/color-convert/package.json
Meet&MusicProject/node_modules/color-convert/README.md
Meet&MusicProject/node_modules/color-convert/route.js
Meet&MusicProject/node_modules/color-name/.eslintrc.json
Meet&MusicProject/node_modules/color-name/.npmignore
Meet&MusicProject/node_modules/color-name/index.js
Meet&MusicProject/node_modules/color-name/LICENSE
Meet&MusicProject/node_modules/color-name/package.json
Meet&MusicProject/node_modules/color-name/README.md
Meet&MusicProject/node_modules/color-name/test.js
Meet&MusicProject/node_modules/concat-map/.travis.yml
Meet&MusicProject/node_modules/concat-map/index.js
Meet&MusicProject/node_modules/concat-map/LICENSE
Meet&MusicProject/node_modules/concat-map/package.json
Meet&MusicProject/node_modules/concat-map/README.markdown
Meet&MusicProject/node_modules/concat-map/example/map.js
Meet&MusicProject/node_modules/concat-map/test/map.js
Meet&MusicProject/node_modules/content-disposition/HISTORY.md
Meet&MusicProject/node_modules/content-disposition/index.js
Meet&MusicProject/node_modules/content-disposition/LICENSE
Meet&MusicProject/node_modules/content-disposition/package.json
Meet&MusicProject/node_modules/content-disposition/README.md
Meet&MusicProject/node_modules/content-type/HISTORY.md
Meet&MusicProject/node_modules/content-type/index.js
Meet&MusicProject/node_modules/content-type/LICENSE
Meet&MusicProject/node_modules/content-type/package.json
Meet&MusicProject/node_modules/content-type/README.md
Meet&MusicProject/node_modules/cookie/HISTORY.md
Meet&MusicProject/node_modules/cookie/index.js
Meet&MusicProject/node_modules/cookie/LICENSE
Meet&MusicProject/node_modules/cookie/package.json
Meet&MusicProject/node_modules/cookie/README.md
Meet&MusicProject/node_modules/cookie-signature/.npmignore
Meet&MusicProject/node_modules/cookie-signature/History.md
Meet&MusicProject/node_modules/cookie-signature/index.js
Meet&MusicProject/node_modules/cookie-signature/package.json
Meet&MusicProject/node_modules/cookie-signature/Readme.md
Meet&MusicProject/node_modules/debug/.coveralls.yml
Meet&MusicProject/node_modules/debug/.eslintrc
Meet&MusicProject/node_modules/debug/.npmignore
Meet&MusicProject/node_modules/debug/.travis.yml
Meet&MusicProject/node_modules/debug/CHANGELOG.md
Meet&MusicProject/node_modules/debug/component.json
Meet&MusicProject/node_modules/debug/karma.conf.js
Meet&MusicProject/node_modules/debug/LICENSE
Meet&MusicProject/node_modules/debug/Makefile
Meet&MusicProject/node_modules/debug/node.js
Meet&MusicProject/node_modules/debug/package.json
Meet&MusicProject/node_modules/debug/README.md
Meet&MusicProject/node_modules/debug/src/browser.js
Meet&MusicProject/node_modules/debug/src/debug.js
Meet&MusicProject/node_modules/debug/src/index.js
Meet&MusicProject/node_modules/debug/src/inspector-log.js
Meet&MusicProject/node_modules/debug/src/node.js
Meet&MusicProject/node_modules/depd/History.md
Meet&MusicProject/node_modules/depd/index.js
Meet&MusicProject/node_modules/depd/LICENSE
Meet&MusicProject/node_modules/depd/package.json
Meet&MusicProject/node_modules/depd/Readme.md
Meet&MusicProject/node_modules/depd/lib/browser/index.js
Meet&MusicProject/node_modules/depd/lib/compat/callsite-tostring.js
Meet&MusicProject/node_modules/depd/lib/compat/event-listener-count.js
Meet&MusicProject/node_modules/depd/lib/compat/index.js
Meet&MusicProject/node_modules/destroy/index.js
Meet&MusicProject/node_modules/destroy/LICENSE
Meet&MusicProject/node_modules/destroy/package.json
Meet&MusicProject/node_modules/destroy/README.md
Meet&MusicProject/node_modules/ee-first/index.js
Meet&MusicProject/node_modules/ee-first/LICENSE
Meet&MusicProject/node_modules/ee-first/package.json
Meet&MusicProject/node_modules/ee-first/README.md
Meet&MusicProject/node_modules/ejs/ejs.js
Meet&MusicProject/node_modules/ejs/ejs.min.js
Meet&MusicProject/node_modules/ejs/jakefile.js
Meet&MusicProject/node_modules/ejs/LICENSE
Meet&MusicProject/node_modules/ejs/package.json
Meet&MusicProject/node_modules/ejs/README.md
Meet&MusicProject/node_modules/ejs/usage.txt
Meet&MusicProject/node_modules/ejs/bin/cli.js
Meet&MusicProject/node_modules/ejs/lib/ejs.js
Meet&MusicProject/node_modules/ejs/lib/utils.js
Meet&MusicProject/node_modules/encodeurl/HISTORY.md
Meet&MusicProject/node_modules/encodeurl/index.js
Meet&MusicProject/node_modules/encodeurl/LICENSE
Meet&MusicProject/node_modules/encodeurl/package.json
Meet&MusicProject/node_modules/encodeurl/README.md
Meet&MusicProject/node_modules/escape-html/index.js
Meet&MusicProject/node_modules/escape-html/LICENSE
Meet&MusicProject/node_modules/escape-html/package.json
Meet&MusicProject/node_modules/escape-html/Readme.md
Meet&MusicProject/node_modules/escape-string-regexp/index.js
Meet&MusicProject/node_modules/escape-string-regexp/license
Meet&MusicProject/node_modules/escape-string-regexp/package.json
Meet&MusicProject/node_modules/escape-string-regexp/readme.md
Meet&MusicProject/node_modules/etag/HISTORY.md
Meet&MusicProject/node_modules/etag/index.js
Meet&MusicProject/node_modules/etag/LICENSE
Meet&MusicProject/node_modules/etag/package.json
Meet&MusicProject/node_modules/etag/README.md
Meet&MusicProject/node_modules/express/History.md
Meet&MusicProject/node_modules/express/index.js
Meet&MusicProject/node_modules/express/LICENSE
Meet&MusicProject/node_modules/express/package.json
Meet&MusicProject/node_modules/express/Readme.md
Meet&MusicProject/node_modules/express/lib/application.js
Meet&MusicProject/node_modules/express/lib/express.js
Meet&MusicProject/node_modules/express/lib/request.js
Meet&MusicProject/node_modules/express/lib/response.js
Meet&MusicProject/node_modules/express/lib/utils.js
Meet&MusicProject/node_modules/express/lib/view.js
Meet&MusicProject/node_modules/express/lib/middleware/init.js
Meet&MusicProject/node_modules/express/lib/middleware/query.js
Meet&MusicProject/node_modules/express/lib/router/index.js
Meet&MusicProject/node_modules/express/lib/router/layer.js
Meet&MusicProject/node_modules/express/lib/router/route.js
Meet&MusicProject/node_modules/filelist/index.d.ts
Meet&MusicProject/node_modules/filelist/index.js
Meet&MusicProject/node_modules/filelist/jakefile.js
Meet&MusicProject/node_modules/filelist/package.json
Meet&MusicProject/node_modules/filelist/README.md
Meet&MusicProject/node_modules/finalhandler/HISTORY.md
Meet&MusicProject/node_modules/finalhandler/index.js
Meet&MusicProject/node_modules/finalhandler/LICENSE
Meet&MusicProject/node_modules/finalhandler/package.json
Meet&MusicProject/node_modules/finalhandler/README.md
Meet&MusicProject/node_modules/forwarded/HISTORY.md
Meet&MusicProject/node_modules/forwarded/index.js
Meet&MusicProject/node_modules/forwarded/LICENSE
Meet&MusicProject/node_modules/forwarded/package.json
Meet&MusicProject/node_modules/forwarded/README.md
Meet&MusicProject/node_modules/fresh/HISTORY.md
Meet&MusicProject/node_modules/fresh/index.js
Meet&MusicProject/node_modules/fresh/LICENSE
Meet&MusicProject/node_modules/fresh/package.json
Meet&MusicProject/node_modules/fresh/README.md
Meet&MusicProject/node_modules/has-flag/index.js
Meet&MusicProject/node_modules/has-flag/license
Meet&MusicProject/node_modules/has-flag/package.json
Meet&MusicProject/node_modules/has-flag/readme.md
Meet&MusicProject/node_modules/http-errors/HISTORY.md
Meet&MusicProject/node_modules/http-errors/index.js
Meet&MusicProject/node_modules/http-errors/LICENSE
Meet&MusicProject/node_modules/http-errors/package.json
Meet&MusicProject/node_modules/http-errors/README.md
Meet&MusicProject/node_modules/iconv-lite/Changelog.md
Meet&MusicProject/node_modules/iconv-lite/LICENSE
Meet&MusicProject/node_modules/iconv-lite/package.json
Meet&MusicProject/node_modules/iconv-lite/README.md
Meet&MusicProject/node_modules/iconv-lite/encodings/dbcs-codec.js
Meet&MusicProject/node_modules/iconv-lite/encodings/dbcs-data.js
Meet&MusicProject/node_modules/iconv-lite/encodings/index.js
Meet&MusicProject/node_modules/iconv-lite/encodings/internal.js
Meet&MusicProject/node_modules/iconv-lite/encodings/sbcs-codec.js
Meet&MusicProject/node_modules/iconv-lite/encodings/sbcs-data-generated.js
Meet&MusicProject/node_modules/iconv-lite/encodings/sbcs-data.js
Meet&MusicProject/node_modules/iconv-lite/encodings/utf7.js
Meet&MusicProject/node_modules/iconv-lite/encodings/utf16.js
Meet&MusicProject/node_modules/iconv-lite/encodings/tables/big5-added.json
Meet&MusicProject/node_modules/iconv-lite/encodings/tables/cp936.json
Meet&MusicProject/node_modules/iconv-lite/encodings/tables/cp949.json
Meet&MusicProject/node_modules/iconv-lite/encodings/tables/cp950.json
Meet&MusicProject/node_modules/iconv-lite/encodings/tables/eucjp.json
Meet&MusicProject/node_modules/iconv-lite/encodings/tables/gb18030-ranges.json
Meet&MusicProject/node_modules/iconv-lite/encodings/tables/gbk-added.json
Meet&MusicProject/node_modules/iconv-lite/encodings/tables/shiftjis.json
Meet&MusicProject/node_modules/iconv-lite/lib/bom-handling.js
Meet&MusicProject/node_modules/iconv-lite/lib/extend-node.js
Meet&MusicProject/node_modules/iconv-lite/lib/index.d.ts
Meet&MusicProject/node_modules/iconv-lite/lib/index.js
Meet&MusicProject/node_modules/iconv-lite/lib/streams.js
Meet&MusicProject/node_modules/inherits/inherits_browser.js
Meet&MusicProject/node_modules/inherits/inherits.js
Meet&MusicProject/node_modules/inherits/LICENSE
Meet&MusicProject/node_modules/inherits/package.json
Meet&MusicProject/node_modules/inherits/README.md
Meet&MusicProject/node_modules/ipaddr.js/ipaddr.min.js
Meet&MusicProject/node_modules/ipaddr.js/LICENSE
Meet&MusicProject/node_modules/ipaddr.js/package.json
Meet&MusicProject/node_modules/ipaddr.js/README.md
Meet&MusicProject/node_modules/ipaddr.js/lib/ipaddr.js
Meet&MusicProject/node_modules/ipaddr.js/lib/ipaddr.js.d.ts
Meet&MusicProject/node_modules/jake/jakefile.js
Meet&MusicProject/node_modules/jake/Makefile
Meet&MusicProject/node_modules/jake/package.json
Meet&MusicProject/node_modules/jake/README.md
Meet&MusicProject/node_modules/jake/usage.txt
Meet&MusicProject/node_modules/jake/bin/bash_completion.sh
Meet&MusicProject/node_modules/jake/bin/cli.js
Meet&MusicProject/node_modules/jake/lib/api.js
Meet&MusicProject/node_modules/jake/lib/jake.js
Meet&MusicProject/node_modules/jake/lib/loader.js
Meet&MusicProject/node_modules/jake/lib/namespace.js
Meet&MusicProject/node_modules/jake/lib/package_task.js
Meet&MusicProject/node_modules/jake/lib/parseargs.js
Meet&MusicProject/node_modules/jake/lib/program.js
Meet&MusicProject/node_modules/jake/lib/publish_task.js
Meet&MusicProject/node_modules/jake/lib/rule.js
Meet&MusicProject/node_modules/jake/lib/test_task.js
Meet&MusicProject/node_modules/jake/lib/task/directory_task.js
Meet&MusicProject/node_modules/jake/lib/task/file_task.js
Meet&MusicProject/node_modules/jake/lib/task/index.js
Meet&MusicProject/node_modules/jake/lib/task/task.js
Meet&MusicProject/node_modules/jake/lib/utils/file.js
Meet&MusicProject/node_modules/jake/lib/utils/index.js
Meet&MusicProject/node_modules/jake/lib/utils/logger.js
Meet&MusicProject/node_modules/jake/test/integration/concurrent.js
Meet&MusicProject/node_modules/jake/test/integration/file_task.js
Meet&MusicProject/node_modules/jake/test/integration/file.js
Meet&MusicProject/node_modules/jake/test/integration/helpers.js
Meet&MusicProject/node_modules/jake/test/integration/jakefile.js
Meet&MusicProject/node_modules/jake/test/integration/publish_task.js
Meet&MusicProject/node_modules/jake/test/integration/rule.js
Meet&MusicProject/node_modules/jake/test/integration/selfdep.js
Meet&MusicProject/node_modules/jake/test/integration/task_base.js
Meet&MusicProject/node_modules/jake/test/integration/jakelib/concurrent.jake.js
Meet&MusicProject/node_modules/jake/test/integration/jakelib/publish.jake.js
Meet&MusicProject/node_modules/jake/test/integration/jakelib/required_module.jake.js
Meet&MusicProject/node_modules/jake/test/integration/jakelib/rule.jake.js
Meet&MusicProject/node_modules/jake/test/unit/jakefile.js
Meet&MusicProject/node_modules/jake/test/unit/namespace.js
Meet&MusicProject/node_modules/jake/test/unit/parseargs.js
Meet&MusicProject/node_modules/media-typer/HISTORY.md
Meet&MusicProject/node_modules/media-typer/index.js
Meet&MusicProject/node_modules/media-typer/LICENSE
Meet&MusicProject/node_modules/media-typer/package.json
Meet&MusicProject/node_modules/media-typer/README.md
Meet&MusicProject/node_modules/merge-descriptors/HISTORY.md
Meet&MusicProject/node_modules/merge-descriptors/index.js
Meet&MusicProject/node_modules/merge-descriptors/LICENSE
Meet&MusicProject/node_modules/merge-descriptors/package.json
Meet&MusicProject/node_modules/merge-descriptors/README.md
Meet&MusicProject/node_modules/methods/HISTORY.md
Meet&MusicProject/node_modules/methods/index.js
Meet&MusicProject/node_modules/methods/LICENSE
Meet&MusicProject/node_modules/methods/package.json
Meet&MusicProject/node_modules/methods/README.md
Meet&MusicProject/node_modules/mime/.npmignore
Meet&MusicProject/node_modules/mime/CHANGELOG.md
Meet&MusicProject/node_modules/mime/cli.js
Meet&MusicProject/node_modules/mime/LICENSE
Meet&MusicProject/node_modules/mime/mime.js
Meet&MusicProject/node_modules/mime/package.json
Meet&MusicProject/node_modules/mime/README.md
Meet&MusicProject/node_modules/mime/types.json
Meet&MusicProject/node_modules/mime/src/build.js
Meet&MusicProject/node_modules/mime/src/test.js
Meet&MusicProject/node_modules/mime-db/db.json
Meet&MusicProject/node_modules/mime-db/HISTORY.md
Meet&MusicProject/node_modules/mime-db/index.js
Meet&MusicProject/node_modules/mime-db/LICENSE
Meet&MusicProject/node_modules/mime-db/package.json
Meet&MusicProject/node_modules/mime-db/README.md
Meet&MusicProject/node_modules/mime-types/HISTORY.md
Meet&MusicProject/node_modules/mime-types/index.js
Meet&MusicProject/node_modules/mime-types/LICENSE
Meet&MusicProject/node_modules/mime-types/package.json
Meet&MusicProject/node_modules/mime-types/README.md
Meet&MusicProject/node_modules/minimatch/LICENSE
Meet&MusicProject/node_modules/minimatch/minimatch.js
Meet&MusicProject/node_modules/minimatch/package.json
Meet&MusicProject/node_modules/minimatch/README.md
Meet&MusicProject/node_modules/morgan/HISTORY.md
Meet&MusicProject/node_modules/morgan/index.js
Meet&MusicProject/node_modules/morgan/LICENSE
Meet&MusicProject/node_modules/morgan/package.json
Meet&MusicProject/node_modules/morgan/README.md
Meet&MusicProject/node_modules/morgan/node_modules/depd/History.md
Meet&MusicProject/node_modules/morgan/node_modules/depd/index.js
Meet&MusicProject/node_modules/morgan/node_modules/depd/LICENSE
Meet&MusicProject/node_modules/morgan/node_modules/depd/package.json
Meet&MusicProject/node_modules/morgan/node_modules/depd/Readme.md
Meet&MusicProject/node_modules/morgan/node_modules/depd/lib/browser/index.js
Meet&MusicProject/node_modules/ms/index.js
Meet&MusicProject/node_modules/ms/license.md
Meet&MusicProject/node_modules/ms/package.json
Meet&MusicProject/node_modules/ms/readme.md
Meet&MusicProject/node_modules/negotiator/HISTORY.md
Meet&MusicProject/node_modules/negotiator/index.js
Meet&MusicProject/node_modules/negotiator/LICENSE
Meet&MusicProject/node_modules/negotiator/package.json
Meet&MusicProject/node_modules/negotiator/README.md
Meet&MusicProject/node_modules/negotiator/lib/charset.js
Meet&MusicProject/node_modules/negotiator/lib/encoding.js
Meet&MusicProject/node_modules/negotiator/lib/language.js
Meet&MusicProject/node_modules/negotiator/lib/mediaType.js
Meet&MusicProject/node_modules/on-finished/HISTORY.md
Meet&MusicProject/node_modules/on-finished/index.js
Meet&MusicProject/node_modules/on-finished/LICENSE
Meet&MusicProject/node_modules/on-finished/package.json
Meet&MusicProject/node_modules/on-finished/README.md
Meet&MusicProject/node_modules/on-headers/HISTORY.md
Meet&MusicProject/node_modules/on-headers/index.js
Meet&MusicProject/node_modules/on-headers/LICENSE
Meet&MusicProject/node_modules/on-headers/package.json
Meet&MusicProject/node_modules/on-headers/README.md
Meet&MusicProject/node_modules/parseurl/HISTORY.md
Meet&MusicProject/node_modules/parseurl/index.js
Meet&MusicProject/node_modules/parseurl/LICENSE
Meet&MusicProject/node_modules/parseurl/package.json
Meet&MusicProject/node_modules/parseurl/README.md
Meet&MusicProject/node_modules/path-to-regexp/History.md
Meet&MusicProject/node_modules/path-to-regexp/index.js
Meet&MusicProject/node_modules/path-to-regexp/LICENSE
Meet&MusicProject/node_modules/path-to-regexp/package.json
Meet&MusicProject/node_modules/path-to-regexp/Readme.md
Meet&MusicProject/node_modules/proxy-addr/HISTORY.md
Meet&MusicProject/node_modules/proxy-addr/index.js
Meet&MusicProject/node_modules/proxy-addr/LICENSE
Meet&MusicProject/node_modules/proxy-addr/package.json
Meet&MusicProject/node_modules/proxy-addr/README.md
Meet&MusicProject/node_modules/qs/.editorconfig
Meet&MusicProject/node_modules/qs/.eslintrc
Meet&MusicProject/node_modules/qs/.nycrc
Meet&MusicProject/node_modules/qs/CHANGELOG.md
Meet&MusicProject/node_modules/qs/LICENSE.md
Meet&MusicProject/node_modules/qs/package.json
Meet&MusicProject/node_modules/qs/README.md
Meet&MusicProject/node_modules/qs/.github/FUNDING.yml
Meet&MusicProject/node_modules/qs/dist/qs.js
Meet&MusicProject/node_modules/qs/lib/formats.js
Meet&MusicProject/node_modules/qs/lib/index.js
Meet&MusicProject/node_modules/qs/lib/parse.js
Meet&MusicProject/node_modules/qs/lib/stringify.js
Meet&MusicProject/node_modules/qs/lib/utils.js
Meet&MusicProject/node_modules/qs/test/parse.js
Meet&MusicProject/node_modules/qs/test/stringify.js
Meet&MusicProject/node_modules/qs/test/utils.js
Meet&MusicProject/node_modules/range-parser/HISTORY.md
Meet&MusicProject/node_modules/range-parser/index.js
Meet&MusicProject/node_modules/range-parser/LICENSE
Meet&MusicProject/node_modules/range-parser/package.json
Meet&MusicProject/node_modules/range-parser/README.md
Meet&MusicProject/node_modules/raw-body/HISTORY.md
Meet&MusicProject/node_modules/raw-body/index.d.ts
Meet&MusicProject/node_modules/raw-body/index.js
Meet&MusicProject/node_modules/raw-body/LICENSE
Meet&MusicProject/node_modules/raw-body/package.json
Meet&MusicProject/node_modules/raw-body/README.md
Meet&MusicProject/node_modules/safe-buffer/index.d.ts
Meet&MusicProject/node_modules/safe-buffer/index.js
Meet&MusicProject/node_modules/safe-buffer/LICENSE
Meet&MusicProject/node_modules/safe-buffer/package.json
Meet&MusicProject/node_modules/safe-buffer/README.md
Meet&MusicProject/node_modules/safer-buffer/dangerous.js
Meet&MusicProject/node_modules/safer-buffer/LICENSE
Meet&MusicProject/node_modules/safer-buffer/package.json
Meet&MusicProject/node_modules/safer-buffer/Porting-Buffer.md
Meet&MusicProject/node_modules/safer-buffer/Readme.md
Meet&MusicProject/node_modules/safer-buffer/safer.js
Meet&MusicProject/node_modules/safer-buffer/tests.js
Meet&MusicProject/node_modules/send/HISTORY.md
Meet&MusicProject/node_modules/send/index.js
Meet&MusicProject/node_modules/send/LICENSE
Meet&MusicProject/node_modules/send/package.json
Meet&MusicProject/node_modules/send/README.md
Meet&MusicProject/node_modules/send/node_modules/ms/index.js
Meet&MusicProject/node_modules/send/node_modules/ms/license.md
Meet&MusicProject/node_modules/send/node_modules/ms/package.json
Meet&MusicProject/node_modules/send/node_modules/ms/readme.md
Meet&MusicProject/node_modules/serve-static/HISTORY.md
Meet&MusicProject/node_modules/serve-static/index.js
Meet&MusicProject/node_modules/serve-static/LICENSE
Meet&MusicProject/node_modules/serve-static/package.json
Meet&MusicProject/node_modules/serve-static/README.md
Meet&MusicProject/node_modules/setprototypeof/index.d.ts
Meet&MusicProject/node_modules/setprototypeof/index.js
Meet&MusicProject/node_modules/setprototypeof/LICENSE
Meet&MusicProject/node_modules/setprototypeof/package.json
Meet&MusicProject/node_modules/setprototypeof/README.md
Meet&MusicProject/node_modules/setprototypeof/test/index.js
Meet&MusicProject/node_modules/statuses/codes.json
Meet&MusicProject/node_modules/statuses/HISTORY.md
Meet&MusicProject/node_modules/statuses/index.js
Meet&MusicProject/node_modules/statuses/LICENSE
Meet&MusicProject/node_modules/statuses/package.json
Meet&MusicProject/node_modules/statuses/README.md
Meet&MusicProject/node_modules/supports-color/browser.js
Meet&MusicProject/node_modules/supports-color/index.js
Meet&MusicProject/node_modules/supports-color/license
Meet&MusicProject/node_modules/supports-color/package.json
Meet&MusicProject/node_modules/supports-color/readme.md
Meet&MusicProject/node_modules/toidentifier/HISTORY.md
Meet&MusicProject/node_modules/toidentifier/index.js
Meet&MusicProject/node_modules/toidentifier/LICENSE
Meet&MusicProject/node_modules/toidentifier/package.json
Meet&MusicProject/node_modules/toidentifier/README.md
Meet&MusicProject/node_modules/type-is/HISTORY.md
Meet&MusicProject/node_modules/type-is/index.js
Meet&MusicProject/node_modules/type-is/LICENSE
Meet&MusicProject/node_modules/type-is/package.json
Meet&MusicProject/node_modules/type-is/README.md
Meet&MusicProject/node_modules/unpipe/HISTORY.md
Meet&MusicProject/node_modules/unpipe/index.js
Meet&MusicProject/node_modules/unpipe/LICENSE
Meet&MusicProject/node_modules/unpipe/package.json
Meet&MusicProject/node_modules/unpipe/README.md
Meet&MusicProject/node_modules/utils-merge/.npmignore
Meet&MusicProject/node_modules/utils-merge/index.js
Meet&MusicProject/node_modules/utils-merge/LICENSE
Meet&MusicProject/node_modules/utils-merge/package.json
Meet&MusicProject/node_modules/utils-merge/README.md
Meet&MusicProject/node_modules/vary/HISTORY.md
Meet&MusicProject/node_modules/vary/index.js
Meet&MusicProject/node_modules/vary/LICENSE
Meet&MusicProject/node_modules/vary/package.json
Meet&MusicProject/node_modules/vary/README.md
Meet&MusicProject/public/images/facebookLogo.png
Meet&MusicProject/public/images/featured1.jpg
Meet&MusicProject/public/images/featured2.jpg
Meet&MusicProject/public/images/featured3.jpg
Meet&MusicProject/public/images/featured4.jpg
Meet&MusicProject/public/images/featured5.jpeg
Meet&MusicProject/public/images/featured6.jpg
Meet&MusicProject/public/images/featured7.jpg
Meet&MusicProject/public/images/featured8.jpg
Meet&MusicProject/public/images/featured9.jpg
Meet&MusicProject/public/images/featured10.jpg
Meet&MusicProject/public/images/featured11.jpg
Meet&MusicProject/public/images/featured12.jpg
Meet&MusicProject/public/images/mainLogo.png
Meet&MusicProject/public/images/metalExample1.jpg
Meet&MusicProject/public/images/metalExample2.jpg
Meet&MusicProject/public/images/metalExample3.jpg
Meet&MusicProject/public/images/popExample1.jpg
Meet&MusicProject/public/images/popExample2.jpeg
Meet&MusicProject/public/images/popExample3.jpg
Meet&MusicProject/public/images/rockconcert3.jpg
Meet&MusicProject/public/images/rockExample1.jpg
Meet&MusicProject/public/images/rockExample2.jpg
Meet&MusicProject/public/images/twitterIcon.png
Meet&MusicProject/public/images/office.png
Meet&MusicProject/public/images/person1.png
Meet&MusicProject/public/images/person2.jpg
Meet&MusicProject/public/images/person3.png
Meet&MusicProject/public/images/sponser2.png
Meet&MusicProject/public/images/sponser3.png
Meet&MusicProject/public/images/sponsor1.png
Meet&MusicProject/Wireframing/about.vp
Meet&MusicProject/Wireframing/contact.vp
