<!--

    Author: Joe Strickland
    EJS Template page for the website's about us page
    Date: Feb 10th, 2022

-->
<%- include("./partials/header.ejs") %>
<main>
    <section id="missionStatement">
        <h2 id="missionWelcome">Music & Meet : Mission Statment & History</h2>
        <br />
        <p id="aboutText">
            Music & Meet was established in 2008 after its founder wanted to create a platform where like minded music lovers could connect. Around 2008, the music scene was begining to integrate technology into everday life more often. With the rise of mobile technology, more people were able to connect in an easier fashion. By using the power of technology, we look to connect people with music. The founder though creating a platform would assist in this vision. The founder wanted to create a safe and productive enviormnent that promoted music events to concert goers. 
            <br />
            <br />
            This platform would provide a way to allow users to connect with each other and RSVP to certain music events. At these events the platform would act as a communication medium for music lovers to meet up at the event. The platform also provided a way to see what kind of music events were occuring in a user's immediate area. By browsing the platform, users can see the different kinds of music events that are occuring within their area. By being able to view these different events, users would be able to explore new types of music by RSVPing to these specific events in the area. This platform also works closely with music organizers to provide exposure to lesser known bands in user's areas. By working closely with our partners, we can bring people together with the power of music!
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra accumsan in nisl nisi scelerisque eu. Aliquet eget sit amet tellus cras adipiscing enim. Vitae ultricies leo integer malesuada nunc vel risus commodo viverra. Auctor augue mauris augue neque. Mattis molestie a iaculis at erat pellentesque. Egestas sed sed risus pretium quam vulputate dignissim suspendisse in. Sem et tortor consequat id porta nibh. Et molestie ac feugiat sed. Fringilla phasellus faucibus scelerisque eleifend donec. Bibendum arcu vitae elementum curabitur vitae.
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus vel facilisis volutpat est velit egestas dui. Lectus arcu bibendum at varius vel pharetra vel turpis. Habitasse platea dictumst quisque sagittis. Cras fermentum odio eu feugiat pretium nibh. Quis varius quam quisque id diam vel. Duis tristique sollicitudin nibh sit amet. Non sodales neque sodales ut. Dui nunc mattis enim ut. In hac habitasse platea dictumst quisque. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Lacus vel facilisis volutpat est velit. Sit amet consectetur adipiscing elit. I cant figure out what i can write. I wrote two paragraphs but now all i have is funny latin words. The funny latin is cool.
        </p>
    </section>
    <aside id="sponserBlock">
        <div id="asideHeaderBox">
            <h2 id="asideHeader">Sponsors & Supporters</h2>
            <ul id="sponsorFlex">
                <li><img src="/images/sponser2.png" class="SponsorImage" alt="Electra Records" width="270" height="180"></li>
                <li><img src="/images/sponser3.png" class="SponsorImage" alt="Warner Records" width="270" height="180"></li>
                <li><img src="/images/sponsor1.png" class="SponsorImage" alt="Red Bull" width="270" height="180"></li>
                <li><img src="/images/sponsor5.png" class="SponsorImage" alt="Hagoromo Chalk" width="270" height="180"></li>
                <li><img src="/images/sponsor4.jpg" class="SponsorImage" alt="Spotify" width="270" height="180"></li>
            </ul>
        </div>
    </aside>
</main>
<%- include("./partials/footer.ejs") %>