<!--

    Author: Joe Strickland
    EJS Template page for logging into the website
    Date: April 16th, 2022
    You good?

-->
<%- include("./partials/header.ejs") %>
    <main id="flexDisplay">
        <div class='login'>
            <p> Login to Your Account</p>
        </div>
        
        <div id="centerBox">
            <form action='/user/login' method='POST'>
                <div>
                    <label class="userText" for="email">Email:</label>
                    <br> 
                    <input type='text' name='email' class="userInput" id="username" minlength="5" maxlength="50" required />
                </div>

                <div id="passwordBox">
                    <label class="userText" for="password">Password:</label>
                    <br>
                    <input type='password' name='password' class="userInput" id="password" minlength="8" maxlength="64" required />
                </div>

                <br>
                <br>

                <div>
                    <input class='submitButton' type='submit' />
                </div>

                <div class='extraText'>
                    <p>Don't have an account?<br>Register <a href="/user/register">HERE</a></p>
                </div>

            </form>
        </div>
    </main>
<%- include("./partials/footer.ejs") %>