/*

    Author: Joe Strickland
    CSS for Music & Meet Website
    Date: January 16th, 2022

*/


/* Header section formatting */
body {
    background-color: #ECECEC;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0;
    margin-bottom: 0;
}

header {
    display: flex;
    background-color:#8B0000;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#mainLogo {
    padding: 10px;
    flex-grow: 1;
}

#websiteTitle {
    font-size: 36pt;
    font-family: Sitka Small, 'Times New Roman', Times, serif, Arial;
    color: #F3F0F0;
    flex-grow: 1;
}

nav {
    background-color: #222121;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1%;
    padding-right: 1%;
    flex-grow: 1;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    
}

nav ul li {
    font-size: 14pt;
    font-family: Sitka Small, 'Times New Roman', Times, serif, Arial;
    color: #F3F0F0;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    font-style:italic;
    cursor: pointer;
}

/* NavBar styling */
#navBar {
    background-color: #222121;
    margin-top: 0;
    display: flex;
    justify-content: center;
    padding: 10px;    
}

#navBar ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    
}

#navBar ul li {
    font-size: 14pt;
    font-family: Sitka Small, 'Times New Roman', Times, serif, Arial;
    color: #F3F0F0;
    margin-right: 5%;
    padding-left: 20pt;
    padding-right: 20pt;
}

/* CSS for the home page */
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#welcomeMessage {
    flex-grow: 2;
    width: 45%;
}

#welcomeMessage h2 {
    font-size: 24pt;
    font-family:  Arial, 'Times New Roman', Times, serif,;
    margin-bottom: 0;
}

#mainText {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18pt;
    font-family:  Arial, 'Times New Roman', Times, serif,;
}

#welcomeHeader {
    margin-left: 4%;
    text-decoration: underline;
}

aside {
    margin-top: 1%;
    width: 55%;
    flex-grow: 1;
    background-color: #8B0000;
    border: 2px solid black;
}

#asideHeader {
    text-align:center;
    font-size: 14pt;
    font-family: Sitka Small, 'Times New Roman', Times, serif, Arial;
    color: #F3F0F0;
}

#featureEvents ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
}

#featureEvents ul li {
    font-size: 14pt;
    font-family: Sitka Small, 'Times New Roman', Times, serif, Arial;
    color: #F3F0F0;
    padding-bottom: 1%;
    padding-left: 20pt;
    padding-right: 20pt;
    margin-top: 12px;
    margin-bottom: 12px;
}

.FeaturedImage {
    border: 1px black solid;
}

/* CSS for the musicEvents page */

#tableWrapper {
    display: flex;
}

#musicEventsTable {
    background-color: #8B0000;
    display: flex;
    flex-flow: row;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    margin-top: 2%;

}

#row1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5%;
    justify-items: space-evenly;
    border-bottom: 5px black solid;
    border-top: 5px black solid;
    font-size: 14pt;
    font-family: Sitka Small, 'Times New Roman', Times, serif, Arial;
    color: #F3F0F0;
}

#row2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-items: space-evenly;
    border-bottom: 5px black solid;
    font-size: 14pt;
    font-family: Sitka Small, 'Times New Roman', Times, serif, Arial;
    color: #F3F0F0;

}

#row3 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5%;
    justify-items: space-evenly;
    border-bottom: 5px black solid;
    font-size: 14pt;
    font-family: Sitka Small, 'Times New Roman', Times, serif, Arial;
    color: #F3F0F0;
}

#metalHeader, #rockHeader {
    padding: 10px;
    margin-right: 2rem;
}

#popHeader {
    padding: 10px;
    margin-right: 4rem;
}

.eventDataCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.eventCaption {
    margin-top: 5px;
}

#rockHeader, #popHeader, #metalHeader {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

/* CSS for the musicEvent page - specific page */
#eventCard {
    background-color: #8B0000;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-family: Sitka Small, 'Times New Roman', Times, serif, Arial;
    color: #F3F0F0;
}

#eventHeadingSection {
    background-color:#222121;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
}

#buttonGroup {
    display: flex;
    align-items: center;
    gap: 30px;
}

.eventButton {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color:#8B0000;
    font-family: Sitka Small, 'Times New Roman', Times, serif, Arial;
    color: #F3F0F0;
    margin-top: 10px;
}

.eventButton:hover, .eventButton:active {
    background-color:rgb(199, 1, 1);
    cursor: pointer;
}

#eventInformation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#eventCardImage {
    margin-top: 3%;
    border: 3px black solid;
}

#eventTextInfo {
    margin-top: 5%;
    margin-left: 2%;
    font-size: 18pt;
    display: flex;
    align-items: center;
}

#eventDescription {
    background-color: #222121;
    margin-top: 2%;
    padding: 25px;
}

/** If time at some point, include a topic bubble at the top left corner of the event card *Probably wont have time but thought is in head **/

/** CSS for New Music Event page - Form page **/
#formContainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color:#8B0000;
    margin-top: 2%;
    font-family: Sitka Small, 'Times New Roman', Times, serif, Arial;
    color: #F3F0F0;
    border: 3px black solid;
}

#newMusicForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px 35px 35px 35px;
}

#formHeader {
    margin-left: 2%;
    margin-right: 2%;
}

.formDivider {
    margin-bottom: 1.5%;
    background-color:#222121;
    border: 1px solid rgba(255, 255, 255, 0.705);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

#firstComp {
    margin-bottom: 3%;
}

#secondComp {
    margin-bottom: 8%;
}

#thirdComp {
    margin-bottom: 12%;
}

.formLabel {
    margin-bottom: 3px;
}

#newMusicForm input {
    padding: 5px;
}

#newMusicForm select {
    padding: 5px;
}

#newMusicForm textarea {
    padding: 8px;
}

.newEventLegend {
    font-size: 19px;
    background-color: black;
    padding: 12px;
    margin-bottom: 1%;
    border-radius: 12px;
}

#submitContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#submitButton {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color:#222121;
    font-family: Sitka Small, 'Times New Roman', Times, serif, Arial;
    color: #F3F0F0;
    margin-top: 10px;
}

#submitButton:hover, #submitButton:active {
    background-color:rgb(199, 1, 1);
    cursor: pointer;
}

/* Footer styling */
/* Footing will be at the absolute bottom (Relative to the page wrapper), and has padding from the content  */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    padding: 8px 12px 0px 25px;
    justify-content: space-between;
    background-color: #222121;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 98%;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
}

/* Viewport height of the screen for the content, relative allows children to be absolute */
#pageWrapper {
    position: relative;
    min-height: 100vh;
}

/* Provides the bottom padding that seperates the content from the footer starting point */
#infoWrapper {
    padding-bottom: 7rem;
}

footer ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    
}

#footerInfo ul li {
    font-size: 14pt;
    font-family: Sitka Small, 'Times New Roman', Times, serif, Arial;
    color: #F3F0F0;
    padding-left: 20pt;
    padding-right: 20pt;
}

#socialMedia {
    display: flex;
    justify-content: flex-end;
}
