<!--

    Author: Joe Strickland
    Partial that contains the header and navbar HTML elements
    Date: Feb 10th, 2022

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- PASS IN SPECIFIC TITLE FROM BACKEND -->
    <title>Music & Meet</title>
    <!-- CSS style sheet for the HTML -->
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="shortcut icon" href="#" />

</head>
<body>
    <div id="pageWrapper">
        <div id="infoWrapper">
            <header>
                <a href="/"><img src="/images/mainLogo.png" alt="Music & Meet logo" id="mainLogo" width="143" height="140" /></a>
                <!-- PASS IN SPECIFIC WEBPAGE TITLE FROM BACKEND -->
                <h1 id="websiteTitle">Music & Meet</h1>
                <nav>
                    <ul>
                        <li><a href="/user/login">Login</a></li>
                        <li><a href="/user/register">Register</a></li>
                        <li><a href="/user/profile">Profile</a></li>
                        <li><a href="/user/logout">Logout</a></li>
                    </ul>
                </nav>
            </header>

            <div id="navBar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/events/new">New Event</a></li>
                </ul>
            </div>