<!--

    Author: Joe Strickland
    EJS Template page for error page
    Date: Feb 10th, 2022

-->
<%- include("./partials/header.ejs") %>
            <main>
               <div id="errorWrapper">
                   <img src="/images/errorMonki.png" alt="Error has occurred!" width="386px" height="344px" id="errorImage" />
                   <h1 id="errorHeader">Uh oh, looks like something went wrong.</h1>
                   <br />
                   <p id="errorMessage"><%= error.message %></p>
                   <p id="errorStatus">Error code : <%= error.status %></p>
               </div>
            </main>
<%- include("./partials/footer.ejs") %>