<!--

    Author: Joe Strickland
    EJS Template page for error page
    Date: Feb 10th, 2022

-->
<%- include("./partials/header.ejs") %>
            <main>
               <div id="errorWrapper">
                   <h1 id="errorHeader">Uh oh, looks like something went wrong.</h1>
                   <br/>
                   <p>Looks like the server ran into a problem when trying to process your request...</p>
                   <br />
                   <p>Put error status here</p>
                   <br />
                   <p>Put error message here</p>
               </div>
            </main>
<%- include("./partials/footer.ejs") %>