<!DOCTYPE html>

<!--

    Author: Joe Strickland
    HTML for landing page
    Date: January 16th, 2022

-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music & Meet</title>
    <!-- CSS style sheet for the HTML -->
    <link rel="stylesheet" href="../styler/main.css" />
    <link rel="shortcut icon" href="#" />

</head>
<body>
    <div id="pageWrapper">
        <div id="infoWrapper">
            <header>
                <a href="index.html"><img src="../resources/images/mainLogo.png" alt="Music & Meet logo" id="mainLogo" width="143" height="140" /></a>
                <h1 id="websiteTitle">Music & Meet</h1>
                <nav>
                    <ul>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Sign-Up</a></li>
                    </ul>
                </nav>
            </header>

            <div id="navBar">
                <ul>
                    <li><a href="../views/index.html">Home</a></li>
                    <li><a href="../views/musicEvents.html">Events</a></li>
                    <li><a href="../views/newMusicEvent.html">New Event</a></li>
                </ul>
            </div>

            <main>
                <section id="welcomeMessage">
                    <h2 id="welcomeHeader">Welcome to Music & Meet!</h2>
                    <br />
                    <p id="mainText">
                        Music & Meet offers a platform to find music events that are occuring in your area. Connect with others by reserving a spot at a local music venue. 
                        Music & Meet believes that by offering a platform to users, we can connect like minded music lovers to each other over a music medium! Whether if you're looking for a specfic music event, 
                        or just browsing the upcoming music venues, Music & Meet is an excellent platform for you to use!
                        <br>
                        <br>
                        The more text added here, the more the side will fill up.
                    </p>
                </section>
                <aside id="featureEvents">
                    <div id="asideHeaderBox">
                        <h2 id="asideHeader">Featured Events</h2>
                        <ul>
                            <li><a href="../views/musicEvent.html"><img src="../resources/images/featured1.jpg" class="FeaturedImage" alt="Featured Event 1" width="270" height="180"><br>Music Festival</a></li>
                            <li><a href="../views/musicEvent.html"><img src="../resources/images/featured2.jpg" class="FeaturedImage" alt="Featured Event 2" width="270" height="180"><br>Hollie Music Fest</a></li>
                            <li><a href="../views/musicEvent.html"><img src="../resources/images/featured3.jpg" class="FeaturedImage" alt="Featured Event 3" width="270" height="180"><br>Summer music fest!</a></li>
                            <li><a href="../views/musicEvent.html"><img src="../resources/images/featured4.jpg" class="FeaturedImage" alt="Featured Event 1" width="270" height="180"><br>K-pop Winter 2022</a></li>
                            <li><a href="../views/musicEvent.html"><img src="../resources/images/featured5.jpeg" class="FeaturedImage" alt="Featured Event 2" width="270" height="180"><br>Grundge Fest 2022</a></li>
                            <li><a href="../views/musicEvent.html"><img src="../resources/images/featured6.jpg" class="FeaturedImage" alt="Featured Event 3" width="270" height="180"><br>Music Event 2021</a></li>
                            <li><a href="../views/musicEvent.html"><img src="../resources/images/featured7.jpg" class="FeaturedImage" alt="Featured Event 3" width="270" height="180"><br>Pop Fest 2022</a></li>
                            <li><a href="../views/musicEvent.html"><img src="../resources/images/featured8.jpg" class="FeaturedImage" alt="Featured Event 3" width="270" height="180"><br>Stop Making Sense - Live!</a></li>
                            <li><a href="../views/musicEvent.html"><img src="../resources/images/featured9.jpg" class="FeaturedImage" alt="Featured Event 3" width="270" height="180"><br>The Doors live in Miami</a></li>
                            <li><a href="../views/musicEvent.html"><img src="../resources/images/featured10.jpg" class="FeaturedImage" alt="Featured Event 3" width="270" height="180"><br>The Doors live in New York</a></li>
                            <li><a href="../views/musicEvent.html"><img src="../resources/images/featured11.jpg" class="FeaturedImage" alt="Featured Event 3" width="270" height="180"><br>The Beatles! Live in NC</a></li>
                            <li><a href="../views/musicEvent.html"><img src="../resources/images/featured12.jpg" class="FeaturedImage" alt="Featured Event 3" width="270" height="180"><br>Zepplin live in Britol!</a></li>
                        </ul>
                    </div>
                </aside>
            </main>
            <footer>
                <div id="footerInfo">
                    <ul>
                        <li>Joe Strickland | &#169; 2022</li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div id="socialMedia">
                    <ul>
                        <li><a href="#"><img src="../resources/images/facebookLogo.png" alt="Facebook" width="75" height="50" /></a></li>
                        <li><a href="#"><img src="../resources/images/twitterIcon.png" alt="Facebook" width="75" height="50" /></a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</body>