<!--

    Author: Joe Strickland
    EJS Template page for logging into the website
    Date: April 16th, 2022

-->
<%- include("./partials/header.ejs") %>
    <main id="flexDisplay">
        <div class='login'>
            <p> Login to Your Account</p>
        </div>
        
        <div id="centerBox">
            <form action='/user/login' method='POST'>
                <div>
                    <label class="userText" for="username">Email:</label>
                    <br> 
                    <input class='userInput' type='text' name='username' id='username' />
                </div>

                <div id="passwordBox">
                    <label class="userText" for="password">Password:</label>
                    <br>
                    <input class='userInput' type='password' name='password' id='password' />
                </div>

                <br>
                <br>

                <div>
                    <input class='submitButton' type='submit' />
                </div>

                <div class='extraText'>
                    <p>Don't have an account?<br>Register <a href="/user/register">HERE</a></p>
                </div>

            </form>
        </div>
    </main>
<%- include("./partials/footer.ejs") %>