<!DOCTYPE html>

<!--

    Author: Joe Strickland
    HTML for specific music event page
    Date: January 19th, 2022

-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>David Bowie TOUR - NC</title>
    <!-- CSS style sheet for the HTML -->
    <link rel="stylesheet" href="../resources/CSS/main.css" />
    <link rel="shortcut icon" href="#" />

</head>
<body>
    <div id="pageWrapper">
        <div id="infoWrapper">
            <header>
                <a href="index.html"><img src="../resources/images/mainLogo.png" alt="Music & Meet logo" id="mainLogo" width="143" height="140" /></a>
                <h1 id="websiteTitle">David Bowie TOUR - NC</h1>
                <nav>
                    <ul>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Sign-Up</a></li>
                    </ul>
                </nav>
            </header>

            <div id="navBar">
                <ul>
                    <li><a href="../views/index.html">Home</a></li>
                    <li><a href="../views/musicEvents.html">Events</a></li>
                    <li><a href="../views/newMusicEvent.html">New Event</a></li>
                </ul>
            </div>

            <main>
                <div id="eventCard">
                    <div id="eventHeadingSection">
                        <h2 id="eventName">David Bowie TOUR - NC</h2>
                        <div id="buttonGroup">
                            <a href="../views/musicEvents.html" class="eventButton">Update</a>
                            <a href="../views/musicEvents.html" class="eventButton">Delete</a>
                        </div> 
                    </div>

                    <div id="eventInformation">
                        <img src="../resources/images/rockExample1.jpg" id="eventCardImage" alt="David Bowie in Concert!" width="462" height="278" />
                        <p id="eventTextInfo">Hosted by David Bowie<br>Thursday, January 29th, 2020<br>5:30PM-8:30PM<br>PNC Arena, Charlotte NC</p>
                    </div>

                    <div id="eventDescription">
                        <h3>Event Description</h3>
                        <p>David Bowie is hosting his 5th annual concert at the PNC arena this upcoming Thursday. RSVP to join in on the fun and meet other Bowie fans. Can't wait to see you there!</p>
                    </div>
                </div>
            </main>

            <footer>
                <div id="footerInfo">
                    <ul>
                        <li>Joe Strickland | &#169; 2022</li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div id="socialMedia">
                    <ul>
                        <li><a href="#"><img src="../resources/images/facebookLogo.png" alt="Facebook" width="75" height="50" /></a></li>
                        <li><a href="#"><img src="../resources/images/twitterIcon.png" alt="Facebook" width="75" height="50" /></a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</body>