<!DOCTYPE html>

<!--

    Author: Joe Strickland
    HTML for music events page
    Date: January 16th, 2022

-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Events</title>
    <!-- CSS style sheet for the HTML -->
    <link rel="stylesheet" href="../public/CSS/main.css" />
    <link rel="shortcut icon" href="#" />

</head>
<body>
    <div id="pageWrapper">
        <div id="infoWrapper">
            <header>
                <a href="index.html"><img src="../public/images/mainLogo.png" alt="Music & Meet logo" id="mainLogo" width="143" height="140" /></a>
                <h1 id="websiteTitle">Music Events</h1>
                <nav>
                    <ul>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Sign-Up</a></li>
                    </ul>
                </nav>
            </header>

            <div id="navBar">
                <ul>
                    <li><a href="../views/index.html">Home</a></li>
                    <li><a href="../views/musicEvents.html">Events</a></li>
                    <li><a href="../views/newMusicEvent.html">New Event</a></li>
                </ul>
            </div>

            <main>
                <div id="tableWrapper">
                    <table id="musicEventsTable">
                        <tr id="row1">
                            <th id="rockHeader" class="rowHeader"><p>Rock Music Events</p></th>
                            <td class="eventDataCell">
                                <a href="../views/musicEvent.html"><img src="../public/images/rockExample1.jpg" alt="Rock Concert 1" width="234" height="146" /></a>
                                <a href="../views/musicEvent.html" class="eventCaption">OZZY OZBOURNE TOUR 1966</a>
                            </td>
                            <td class="eventDataCell">
                                <a href="../views/musicEvent.html"><img src="../public/images/rockExample2.jpg" alt="Rock Concert 2" width="234" height="146" /></a>
                                <a href="../views/musicEvent.html" class="eventCaption">David Bowie TOUR 1968 - NC</a>
                            </td>
                            <td class="eventDataCell">
                                <a href="../views/musicEvent.html"><img src="../public/images/rockconcert3.jpg" alt="Rock Concert 3" width="234" height="146" /></a>
                                <a href="../views/musicEvent.html" class="eventCaption">Local Rock Fest 2022</a>
                            </td>
                        </tr>
                        <tr id="row2">
                            <th id="popHeader" class="rowHeader"><p>Pop Music Events</p></th>
                            <td class="eventDataCell">
                                <a href="../views/musicEvent.html"><img src="../public/images/popExample1.jpg" alt="Pop Concert 1" width="234" height="146" /></a>
                                <a href="../views/musicEvent.html" class="eventCaption">Pop convention 2022</a>
                            </td>
                            <td class="eventDataCell">
                                <a href="../views/musicEvent.html"><img src="../public/images/popExample2.jpeg" alt="Pop Concert 2" width="234" height="146" /></a>
                                <a href="../views/musicEvent.html" class="eventCaption">Generic Music 2012</a>
                            </td>
                            <td class="eventDataCell">
                                <a href="../views/musicEvent.html"><img src="../public/images/popExample3.jpg" alt="Pop Concert 3" width="234" height="146" /></a>
                                <a href="../views/musicEvent.html" class="eventCaption">Pop Music festival - Denver</a>
                            </td>
                        </tr>
                        <tr id="row3">
                            <th id="metalHeader" class="rowHeader"><p>Metal Music Events</p></th>
                            <td class="eventDataCell">
                                <a href="../views/musicEvent.html"><img src="../public/images/metalExample1.jpg" alt="Metal Concert 1" width="234" height="146" /></a>
                                <a href="../views/musicEvent.html" class="eventCaption">MetalFest: Charlotte 2022</a>
                            </td>
                            <td class="eventDataCell">
                                <a href="../views/musicEvent.html"><img src="../public/images/metalExample2.jpg" alt="Metal Concert 2" width="234" height="146" /></a>
                                <a href="../views/musicEvent.html" class="eventCaption">Metal Concert - Charlotte</a>
                            </td>
                            <td class="eventDataCell">
                                <a href="../views/musicEvent.html"><img src="../public/images/metalExample3.jpg" alt="Metal Concert 3" width="234" height="146" /></a>
                                <a href="../views/musicEvent.html" class="eventCaption">RTP Metal - NC</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </main>
            <footer>
                <div id="footerInfo">
                    <ul>
                        <li>Joe Strickland | &#169; 2022</li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div id="socialMedia">
                    <ul>
                        <li><a href="#"><img src="../public/images/facebookLogo.png" alt="Facebook" width="75" height="50" /></a></li>
                        <li><a href="#"><img src="../public/images/twitterIcon.png" alt="Facebook" width="75" height="50" /></a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</body>