<!--

    Author: Joe Strickland
    EJS Template page for new music event page
    Date: Feb 10th, 2022

-->
<%- include("./partials/header.ejs") %>
            <main>
                <div id="formContainer">
                    <h1 id="formHeader">New Music Event Form</h1>
                    <!-- Make sure the form has an action that sends it to the connections page, will perform this action when submit button pressed (Will post to DB later on in development)-->
                    <form id="newMusicForm" method="post" action="/events">
                        <fieldset id="importantEventInfo" class="formDivider">
                            <legend class="newEventLegend">Event Information</legend>
                            <div class="formComponent" id="firstComp">
                                <label class="formLabel" for="topic">Music Event Category: </label>
                                <input type="text" id="topic" maxlength="50" minlength="1" name="topic" placeholder="Enter event host here!" required />
                                <br>
                                <label class="formLabel" for="eventTitle">Event Title: </label>
                                <input type="text" id="eventTitle" maxlength="50" minlength="1" placeholder="Enter event title here!" name="name" required /> 
                            </div>
                        </fieldset>

                        <fieldset id="eventDetails" class="formDivider">
                            <legend class="newEventLegend">Event Details</legend>
                            <div class="formComponent" id="secondComp">
                                <label class="formLabel" for="eventHost">Event Host: </label>
                                <input type="text" id="eventHost" maxlength="50" minlength="1" name="hostName" placeholder="Enter event host here!" required />
                                <br>
                                <label class="formLabel" for="additionalEventInfo">Details: </label>
                                <textarea id="additionalEventInfo" name="details" rows="5" cols="25" minlength="5" maxlength="500" placeholder="Enter event details here!"></textarea>
                                <br>
                                <label class="formLabel" for="eventWhere">Event Location: </label>
                                <input id="eventWhere" name="location" type="text" maxlength="150" minlength="1" placeholder="Enter event location here!" required />
                                <br>
                                <label class="formLabel" for="eventImage">Event Image: </label>
                                <input id="eventImage" name="image" type="text" required />
                            </div>
                        </fieldset>

                        <fieldset id="eventTimeDetails" class="formDivider">
                            <legend class="newEventLegend">Event Time Details</legend>
                            <div class="formComponent" id="thirdComp">
                                <label class="formLabel" for="eventDate">Event Date: </label>
                                <input id="eventDate" name="date" type="date" required />
                                <br>
                                <label class="formLabel" for="eventStart">Start Time: </label>
                                <input id="eventStart" name="startTime" type="time" required />
                                <br>
                                <label class="formLabel" for="eventEnd">End Time: </label>
                                <input id="eventEnd" name="endTime" type="time" required />
                            </div>
                        </fieldset>

                        <div id="submitContainer">
                            <button type="submit" id="submitButton" value="Create Event">Create Event</button>
                        </div>
                    </form>
                </div>
            </main>
<%- include("./partials/footer.ejs") %>