<!DOCTYPE html>

<!--

    Author: Joe Strickland
    HTML for music events page
    Date: January 16th, 2022

-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music Events</title>
    <!-- CSS style sheet for the HTML -->
    <link rel="stylesheet" href="../styler/main.css" />
    <link rel="shortcut icon" href="#" />

</head>
<body>
    <div id="pageWrapper">
        <div id="infoWrapper">
            <header>
                <a href="index.html"><img src="../resources/mainLogo.png" alt="Music & Meet logo" id="mainLogo" width="143px" height="140px" /></a>
                <h1 id="websiteTitle">Music & Meet</h1>
                <nav>
                    <ul>
                        <li><a href="#">New Music Event</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Sign-Up</a></li>
                    </ul>
                </nav>
            </header>

            <div id="navBar">
                <ul>
                    <li><a href="../templates/index.html">Home</a></li>
                    <li><a href="../templates/musicEvents.html">Events</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <main>
                <table id="musicEventsTable">
                    <tr id="row1">
                        <th id="rockHeader"><p>Rock Music Events</p></th>
                        <td class="eventDataCell">
                            <img src="../resources/rockExample1.jpg" alt="Rock Concert 1" width="234px" height="146px" />
                            <br />
                            <figcaption class="eventCaption">what</figcaption>
                        </td>
                        <td class="eventDataCell">
                            <img src="../resources/rockExample2.jpg" alt="Rock Concert 2" width="234px" height="146px" />
                            <br />
                            <figcaption class="eventCaption">what</figcaption>
                        </td>
                        <td class="eventDataCell">
                            <img src="../resources/rockconcert3.jpg" alt="Rock Concert 3" width="234px" height="146px" />
                            <br />
                            <figcaption class="eventCaption">what</figcaption>
                        </td>
                    </tr>
                    <tr id="row2">
                        <th id="popHeader"><p>Pop Music Events</p></th>
                        <td class="eventDataCell">
                            <img src="../resources/popExample1.jpg" alt="Pop Concert 1" width="234px" height="146px" />
                            <br />
                            <figcaption class="eventCaption">what</figcaption>
                        </td>
                        <td class="eventDataCell">
                            <img src="../resources/popExample2.jpeg" alt="Pop Concert 2" width="234px" height="146px" />
                            <br />
                            <figcaption class="eventCaption">what</figcaption>
                        </td>
                        <td class="eventDataCell">
                            <img src="../resources/popExample3.jpg" alt="Pop Concert 3" width="234px" height="146px" />
                            <br />
                            <figcaption class="eventCaption">what</figcaption>
                        </td>
                    </tr>
                    <tr id="row3">
                        <th id="metalHeader"><p>Metal Music Events</p></th>
                        <td class="eventDataCell">
                            <img src="../resources/metalExample1.jpg" alt="Metal Concert 1" width="234px" height="146px" />
                            <br />
                            <figcaption class="eventCaption">what</figcaption>
                        </td>
                        <td class="eventDataCell">
                            <img src="../resources/metalExample2.jpg" alt="Metal Concert 2" width="234px" height="146px" />
                            <br />
                            <figcaption class="eventCaption">what</figcaption>
                        </td>
                        <td class="eventDataCell">
                            <img src="../resources/metalExample3.jpg" alt="Metal Concert 3" width="234px" height="146px" />
                            <br />
                            <figcaption class="eventCaption">what</figcaption>
                        </td>
                    </tr>
                </table>
            </main>
            <footer>
                <div id="footerInfo">
                    <ul>
                        <li>Joe Strickland | Copyright 2022</li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div id="socialMedia">
                    <ul>
                        <li><a href="#"><img src="../resources/facebookLogo.png" alt="Facebook" width="75.5px" height="50px" /></a></li>
                        <li><a href="#"><img src="../resources/twitterIcon.png" alt="Facebook" width="75.5px" height="50px" /></a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</body>