<!DOCTYPE html>

<!--

    Author: Joe Strickland
    HTML for new music event page
    Date: January 23th, 2022

-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Music Event</title>
    <!-- CSS style sheet for the HTML -->
    <link rel="stylesheet" href="../styler/main.css" />
    <link rel="shortcut icon" href="#" />

</head>
<body>
    <div id="pageWrapper">
        <div id="infoWrapper">
            <header>
                <a href="index.html"><img src="../resources/mainLogo.png" alt="Music & Meet logo" id="mainLogo" width="143px" height="140px" /></a>
                <h1 id="websiteTitle">New Music Event</h1>
                <nav>
                    <ul>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Sign-Up</a></li>
                    </ul>
                </nav>
            </header>

            <div id="navBar">
                <ul>
                    <li><a href="../templates/index.html">Home</a></li>
                    <li><a href="../templates/musicEvents.html">Events</a></li>
                    <li><a href="../templates/newMusicEvent.html">New Event</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <main>
                <div id="formContainer">
                    <h2 id="formHeader">New Music Event Form</h2>
                    <form id="newMusicForm">
                        <fieldset id="importantEventInfo">
                            <h3 id="importantHeader">Important Event Details</h3>
                            <label class="formLabel" for="topicDrop">Music Event Category: </label>
                            <select id="musicTopics" name="topicDrop">
                                <option value="Rock">Rock</option>
                                <option value="Pop">Pop</option>
                                <option value="Metal">Metal</option>
                                <option value="Funk">Funk</option>
                            </select>
                            <br>
                            <label class="formLabel" for="eventTitle">Event Title: </label>
                            <input type="text" name="eventTitle" maxlength="100" minlength="1" /> 
                        </fieldset>

                        <fieldset id="eventDetails">
                            <h3 id="otherHeader">Other Event Details</h3>
                            <label class="formLabel" for="eventHost">Event Host: </label>
                            <input type="text" name="eventHost" maxlength="70" minlength="1" />
                            <br>
                            <label class="formLabel" for="additionalEventInfo">Details: </label>
                            <textarea name="additionalEventInfo" rows="5" cols="25" placeholder="Enter event details here!"></textarea>
                            <br>
                            <label class="formLabel" for="eventWhere">Event Location: </label>
                            <input name="eventWhere" type="text" maxLength="100" minlength="1" />
                            <br>
                            <label class="formLabel" for="eventImage">Event Image: </label>
                            <input name="eventImage" type="file" />
                        </fieldset>

                        <fieldset id="eventTimeDetails">
                            <h3 id="timeHeader">Event Time Details</h3>
                            <label class="formLabel" for="eventDate">Event Date: </label>
                            <input name="eventDate" type="date" />
                            <br>
                            <label class="formLabel" for="eventStart">Start Time: </label>
                            <input name="eventStart" type="time" />
                            <br>
                            <label class="formLabel" for="eventEnd">End Time: </label>
                            <input name="eventEnd" type="time" />
                        </fieldset>

                    </form>
                </div>
            </main>
            <footer>
                <div id="footerInfo">
                    <ul>
                        <li>Joe Strickland | Copyright 2022</li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div id="socialMedia">
                    <ul>
                        <li><a href="#"><img src="../resources/facebookLogo.png" alt="Facebook" width="75.5px" height="50px" /></a></li>
                        <li><a href="#"><img src="../resources/twitterIcon.png" alt="Facebook" width="75.5px" height="50px" /></a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</body>